body{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 3%, rgba(220,239,252,1) 100%);
}

$accent-color: #D56D6E;
$accent-color-soft: #F5DDDD;


//style
.bg-pink{
  background: $accent-color;
}

.bg-pink-soft{
  background-color: $accent-color-soft;
}
//style


//component

//nav-tabs
.nav.custom-navtabs{
  border: 0;
  li.nav-item{
    .nav-link{
      color: black;
      border-top: 0px;
        border-right: 0px;
        border-left: 0px;
      &.active{
        color: $accent-color;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 1px solid $accent-color;
      }
    } 
  }
}
//nav-tabs

// link
a{
  color: $accent-color;
}
// link

//form
.form-control{
  &:focus{
    border-color: $accent-color;
  }
}
//form

//component